.music-blurb {
  position: relative;
  /* margin-right: 1vw;
  margin-left: .5vw; */
  font-family: 'Questrial', sans-serif;
  /* padding: .5rem; */
  width: 100%;
  border-radius: 8px;
  color: rgb(65, 73, 94);
  font-size: 1rem;
  text-align: left;
}

.music-blurb div {
  margin: .5rem;
}

.music-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 7vh;
}

.venues {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soundcloud-player {
  /* display: flex;
  flex-direction: column; */
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 700px) {
  .music-container {
    flex-direction: column;
    top: 2vh;
  }

  .music-blurb {
    font-size: 1.5rem;
  }

  .music-blurb div {
    margin-bottom: 1.25rem;
  }
}
