.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  position: relative;
  top: 5vh;
  animation: fade-in 1s linear;
  width: 100%;
}

.form input {
  margin-bottom: .5rem;
  padding: 0.3rem;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
}

.form textarea {
  margin-top: .5rem;
  height: 25vh;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid rgb(143, 143, 143);
}

.form input:focus,
.form textarea:focus {
  outline: 0;
}

.form button {
  font-family: 'Questrial', sans-serif;
  border: none;
  margin: .5rem;
  border-radius: 5px;
  padding: .25rem .75rem;
  background-color: rgba(115, 115, 115, 0.2);
}

.form button:hover {
  background-color: rgba(115, 115, 115, 0.5);
}

.warning {
  color: rgb(109, 109, 109);
  animation: fade-in .5s linear;
  margin-top: 2vh;
}

.none {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 320px) {
  .form {
    font-size: 1.5rem;
  }

  .form input {
    width: 300px;
  }


  .form textarea {
    width: 300px;
  }
}

@media screen and (min-width: 420px) {
  .form input {
    width: 400px;
  }

  .form textarea {
    width: 400px;
  }
}
