@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(62, 62, 62);
  margin: .5rem;
  border-radius: 5px;
  background: rgb(209, 209, 210);
  padding: 4px;
  border: none;
  width: 5rem;
  height: 2rem;
}

.link:hover {
  background: rgb(130, 130, 143);
}

.video-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(62, 62, 62);
  margin-right: .75rem;
  border-radius: 5px;
  background: rgb(209, 209, 210);
  padding: 4px;
  border: none;
  width: 5rem;
  height: 2rem;
}

/* @media screen and (max-width: 500px) {

} */
