@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* VARIABLES */

:root {
  --primary-font: 'Questrial', sans-serif;
}

/* GENERAL */

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--primary-font);
  overscroll-behavior: none;
  margin-bottom: 10rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 8%;
  background: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.link {
  text-decoration: none;
  font-family: var(--primary-font);
  color: rgb(62, 62, 62);
  background: rgb(209, 209, 210);
  width: 5rem;
  height: 2rem;
  margin: .5rem;
  padding: 4px;
  border: none;
  border-radius: 5px;
}

.link:hover {
  background: rgb(130, 130, 143);
}

/* LAYOUT */

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-header {
  margin: 0 auto;
  padding: .8rem 1.0875rem;
}

.header-link {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.header-link h1 {
  font-family: 'Questrial';
  font-size: 3.5rem;
  color: rgb(65, 65, 65);
}

.header-link:hover {
  text-decoration: underline;
}

/* LANDING */

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 31vh;
  width: 28rem;
  margin: 0 auto;
}

.landing-container > div {
 max-width: 1020;
  display: inline-block;
}

.landing-container h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 4.25rem;
  line-height: 1.5;
  display: inline-block;
}

#landing-link {
  text-decoration: none;
  margin-top: 2.5rem;
  padding: 0;
  border: none;
  cursor: pointer;
  color: rgb(65, 65, 65);
  transition: color 0.5s ease;
}

#landing-link:hover {
  color: rgb(29, 29, 29);
}

#landing-header {
  color: grey;
  cursor: auto;
}

/* NAVBAR */

.burger {
  position: absolute;
  right: 1rem;
  top: 2.5vh;
  padding: 1rem;
  cursor: pointer;
  z-index: 9;
}

.navbar {
  position: absolute;
  right: 5rem;
  top: 2.5vh;
  z-index: 6;
  animation: fade-in .5s ease-in;
}

.navbar a {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
  height: 5%;
  border-radius: 5px;
  color: rgba(65, 65, 65, 1.0);
  transition: background-color 0.3s linear;
  transition: color 0.3s linear;
}

.navbar a:hover {
  background-color: rgba(65, 73, 94, 0.8);
  color: #fff;
}

/* ICONS */

.footer-icon {
  position: relative;
  height: 52px;
  width: 52px;
  margin: .5em;
  color: rgb(65, 65, 65);
  transition: transform 0.2s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.project-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: 10vh;
}

.project-icons div {
  margin: .25rem;
}

.label {
  position: absolute;
  top: 30vh;
  color: rgb(111, 118, 126);
  font-family: var(--primary-font);
}

#northwestern {
  width: 12em;
  height: 12em;
}

#xibis {
  width: 15.5em;
  height: 15.5em;
}

#shiftpitch {
  width: 11em;
  height: 11em;
}


/* PROJECTS */

.project-page {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: .5rem;
  margin-right: .5rem;
}

.project-page > div {
  width: 50%;
  box-sizing: border-box;
  padding-left: .5rem;
  padding-right: .5rem;
}

.project-page h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  font-family: 'Questrial', sans-serif;
}

.project-left div,
.project-right div {
  /* width: 50%; */
  text-align: left;
  font-family: 'Questrial', sans-serif;
  font-size: .8rem;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

/* SKILLS */

#skills {
  display: flex;
  justify-content: center;
  position: relative;
  top: 6vh;
}

#skills h3 {
  margin-bottom: 2vh;
  font-family: 'Questrial', sans-serif;
}

#skills > div {
  border: 2px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 2rem;
  padding: 1rem;
  width: 33%;
}

/* MUSIC */

#music-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 7vh;
}

.music-blurb {
  position: relative;
  width: 100%;
  font-family: var(--primary-font);
  font-size: 1rem;
  text-align: left;
  color: rgb(65, 73, 94);
  border-radius: 8px;
}

.music-blurb div {
  margin: .5rem;
}

.venues {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soundcloud-player {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--primary-font);
  font-weight: 100;
}

/* ABOUT */

.headshot-container {
  display: flex;
  height: 11rem;
  position: relative;
}

#headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.resume {
  flex-direction: column;
  align-items: center;
}

#resume-icon {
  width: 180px;
  height: 200px;
  cursor: pointer;
}

#resume-icon label {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.loading {
  flex-direction: column;
  position: relative;
  top: 15rem;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2rem;
  text-decoration: none;
  color: rgb(52, 52, 52);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-family: 'Questrial', sans-serif;
  width: 100%;
  /* background-color: (29, 35, 5c, 0.5); */
  /* opacity: 0.2; */
  border-radius: 5px;
}

#about div {
  margin: .5rem;
  font-size: 1rem;
}

/* CONTACT */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  position: relative;
  top: 5vh;
  animation: fade-in 1s linear;
  width: 100%;
}

.form input {
  margin-bottom: .5rem;
  padding: 0.3rem;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
}

.form textarea {
  margin-top: .5rem;
  height: 25vh;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid rgb(143, 143, 143);
}

.form input:focus,
.form textarea:focus {
  outline: 0;
}

.form button {
  font-family: 'Questrial', sans-serif;
  border: none;
  margin: .5rem;
  border-radius: 5px;
  padding: .25rem .75rem;
  background-color: rgba(115, 115, 115, 0.2);
}

.form button:hover {
  background-color: rgba(115, 115, 115, 0.5);
}

.warning {
  color: rgb(109, 109, 109);
  animation: fade-in .5s linear;
  margin-top: 2vh;
}

.none {
  display: none;
}

/* ANIMATIONS */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from   {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .form {
    font-size: 1.5rem;
  }

  .form input {
    width: 300px;
  }

  .form textarea {
    width: 300px;
  }
}


@media screen and (max-width: 600px) {
  .nav-icon-container {
    flex-direction: column;
    top: 0.5rem;
  }

  .icon-container {
    left: 3%;
    top: 25vh;
  }

  .icon {
    margin: .5em;
  }

  .label {
    display: none;
  }

  #northwestern {
    top: 0px;
  }

  #shiftpitch {
    top: .5rem;
  }

  #xibis {
    top: 1.25rem;
  }

  #about div {
    font-size: 1.5rem;
  }


}


@media screen and (max-width: 800px) {
  .burger {
    right: .1rem;
    top: 2.5vh;
  }

  .navbar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 78%;
    right: 0px;
    top: 5rem;
    text-align: center;
    background-color: rgba(65, 73, 94, 1.0);
    border-radius: 5px;
    z-index: 9;
    opacity: 1.0;
  }

  .navbar a {
    font-size: 2.5rem;
    padding: 2.5rem;
    color:#fff;
    margin-top: 1.75rem;
    background-color: rgba(65, 73, 94, 1.0);
  }

  .navbar a:hover {
    background-color: rgba(65, 73, 94, 0.8);
  }

  #music-container {
    flex-direction: column;
    top: 2vh;
  }

  .music-blurb {
    font-size: 1.5rem;
  }

  .music-blurb div {
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 420px) {
  .form input {
    width: 400px;
  }

  .form textarea {
    width: 400px;
  }
}


@media screen and (min-width: 580px) {
  .landing-text {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  #about {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    overscroll-behavior: none;
  }
}

/* @media screen and (min-width: 580px) and (max-width: 780px) {
  .icon-container {
    left: 0vw;
  }
} */

@media screen and (min-width: 1100px) {
  .project-icons {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* GATSBY DEFAULTS */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em var(--primary-font), serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overscroll-behavior: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  background-color: white;
  font-family: inherit;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overscroll-behavior: none;
}

img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

button,
input,
textarea {
  font: inherit;
  margin: 0;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: inherit;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--primary-font), sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
