@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* VARIABLES */

:root {
  --primary-font: 'Questrial', sans-serif;
  --primary-grey: rgb(65, 65, 65);
}

/* GENERAL */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--primary-font);
  overscroll-behavior: none;
  margin-bottom: 5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.link {
  text-decoration: none;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--primary-grey);
  background-color: rgba(209, 209, 209, 0.7);
  width: 5rem;
  height: 2rem;
  margin: .5rem;
  padding: 4px;
  border: none;
  border-radius: 5px;
}

.link:hover {
  background-color: rgba(209, 209, 209, 1.0);
}

/* LANDING */

.landing-container {
  flex-direction: column;
  position: relative;
  top: 31vh;
  width: 28rem;
  margin: 0 auto;
}

.landing-container > div {
  max-width: 1020;
  display: inline-block;
}

.landing-container h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 5rem;
  display: inline-block;
}

#landing-link {
  text-decoration: none;
  margin-top: 2.5rem;
  border: none;
  cursor: pointer;
  color: var(--primary-grey);
  transition: color 0.5s ease;
}

#landing-link:hover {
  color: grey;
}

#landing-header {
  color: grey;
  cursor: auto;
}

/* LAYOUT */

.header-main {
  display: flex;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.header-link h1 {
  font-family: var(--primary-font);
  font-size: 3.5rem;
  color: var(--primary-grey);
  margin-bottom: 0;
  padding: 0.5rem 0.9rem;
}

.header-link:hover {
  text-decoration: underline;
}

/* NAVBAR */

.burger {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 5.5vh;
  padding-right: 1.2rem;
  cursor: pointer;
  z-index: 9;
}

.navbar {
  position: absolute;
  right: 3.5rem;
  top: 1rem;
  z-index: 6;
  animation: fade-in .5s ease-in;
}

.navbar a {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem;
  height: 5%;
  border-radius: 5px;
  color: var(--primary-grey);
  transition: background-color 0.3s linear;
  transition: color 0.3s linear;
}

.navbar a:hover {
  background-color: rgba(65, 73, 94, 0.8);
  color: #fff;
}

/* ICONS */

.footer-icon {
  position: relative;
  height: 52px;
  width: 52px;
  margin: .5rem;
  bottom: .75rem;
  top: .25rem;
  color: rgb(65, 65, 65);
  transition: transform 0.2s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.project-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: 7vh;
}

.project-icons div {
  margin: .25rem;
}

.label {
  position: absolute;
  bottom: 0;
  color: rgb(111, 118, 126);
  font-family: var(--primary-font);
}

.label h4 {
  font-family: inherit;
  margin: 0;
}

#northwestern {
  width: 12em;
  height: 12em;
}

#xibis {
  width: 15.5em;
  height: 15.5em;
}

#shiftpitch {
  width: 11em;
  height: 11em;
}

/* PROJECTS */

.project-page {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: .5rem;
  margin-right: .5rem;
}

.project-page > div {
  width: 50%;
  box-sizing: border-box;
  padding-left: .5rem;
  padding-right: .5rem;
}

.project-page h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  font-family: var(--primary-font);
}

.project-left div,
.project-right div {
  text-align: left;
  font-family: inherit;
  font-size: 1rem;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

/* SKILLS */

#skills {
  display: flex;
  justify-content: center;
  position: relative;
  top: 6vh;
}

#skills h3 {
  margin-bottom: 2vh;
  font-family: var(--primary-font);
}

#skills > div {
  border: 2px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 2rem;
  padding: 1rem;
  width: 33%;
}

/* MUSIC */

.music-page {
  position: relative;
  top: 7vh;
  flex-direction: column;
}

#music-container {
  display: flex;
  justify-content: center;
}

.music-blurb {
  position: relative;
  width: 100%;
  font-family: var(--primary-font);
  font-size: 1rem;
  text-align: left;
  color: rgb(65, 73, 94);
  border-radius: 8px;
}

.music-blurb div {
  margin: .5rem;
}

.venues {
  flex-direction: column;
}

.soundcloud-player {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--primary-font);
  font-weight: 100;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  position: relative;
  font-size: 2.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  color:rgba(69, 69, 69, 1.0);
  background-color: rgba(230, 230, 230, 0.6);
}

.btn:hover {
  background-color: rgba(230, 230, 230, 1.0);
}

.btn:focus {
  outline: none;
}

/* MODAL */

.show-modal {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  position: fixed;
  left: 50%;
  top: 45%;
  background: white repeat scroll;
  width: 100%;
  height: 80%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  border-style: outset;
  overflow: scroll;
  padding: 1em;
  overscroll-behavior: none;
}

.modal-main button {
  color: rgb(70, 66, 66);
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  right: 2%;
  top: 2%;
  z-index: 10;
}

/* ABOUT */

.headshot-container {
  display: flex;
  height: 11rem;
  position: relative;
}

#headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.resume {
  flex-direction: column;
}

#resume-icon {
  width: 180px;
  height: 200px;
  cursor: pointer;
}

.resume label {
  position: absolute;
  bottom: -10%;
}

.loading {
  flex-direction: column;
  position: relative;
  top: 15rem;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2rem;
  text-decoration: none;
  color: rgb(52, 52, 52);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  border-radius: 5px;
}

#about div {
  margin: .5rem;
  font-size: 1.1rem;
}

/* CONTACT */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
  position: relative;
  top: 5vh;
  animation: slide-in .5s ease;
  width: 100%;
}

.form textarea {
  height: 25vh;
}

.form input,
.form textarea {
  border: 2px solid rgba(209, 209, 209, 0.5);
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.form input:focus,
.form textarea:focus {
  outline: 0;
}

.form button {
  font-family: var(--primary-font);
  border: none;
  margin: .5rem;
  border-radius: 5px;
  padding: .25rem .75rem;
  background-color: rgba(115, 115, 115, 0.2);
}

.form button:hover {
  background-color: rgba(115, 115, 115, 0.5);
}

.warning {
  color: rgb(109, 109, 109);
  animation: fade-in .5s linear;
  margin-top: 2vh;
}

.none {
  display: none;
}

/* ANIMATIONS */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}


@keyframes spin {
  from   {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .form {
    font-size: 1.5rem;
  }

  .form input {
    width: 300px;
  }

  .form textarea {
    width: 300px;
  }
}


@media screen and (max-width: 600px) {
  .landing-container {
    width: 100%;
  }

  .landing-container h1 {
    font-size: 3.25rem;
  }

  .project-icons {
    flex-direction: column;
    /* top: 0.5rem; */
  }

  .icon-container {
    left: 3%;
    top: 25vh;
  }

  .icon {
    margin: .5em;
  }

  #northwestern {
    top: 0px;
  }

  #shiftpitch {
    top: .5rem;
  }

  #xibis {
    top: 1.25rem;
  }

  #about div {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 840px) {
  .burger {
    padding-right: 1rem;
    padding-top: 2.25rem;
  }

  .navbar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 78%;
    right: 0px;
    top: 5rem;
    text-align: center;
    background-color: rgba(65, 73, 94, 1.0);
    border-radius: 5px;
    z-index: 9;
    opacity: 1.0;
    animation: slide-in-right .3s ease-in;
  }

  .navbar a {
    font-size: 2.5rem;
    padding: 2.5rem;
    color:#fff;
    margin-top: 1.75rem;
    background-color: rgba(65, 73, 94, 1.0);
  }

  .navbar a:hover {
    background-color: rgba(65, 73, 94, 0.8);
  }

  #music-container {
    flex-direction: column;
    top: 2vh;
  }

  .music-blurb {
    font-size: 1.5rem;
  }

  .music-blurb div {
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 420px) {
  .form input {
    width: 400px;
  }

  .form textarea {
    width: 400px;
  }
}


@media screen and (min-width: 580px) {
  .landing-text {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  #about {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    overscroll-behavior: none;
  }

  .modal-main {
    width: 550px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1100px) {
  .project-icons {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-page {
    margin: 0 auto;
    width: 1100px;
  }
}

/* GATSBY DEFAULTS */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em var(--primary-font), serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overscroll-behavior: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  background-color: white;
  font-family: inherit;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overscroll-behavior: none;
}

button,
input,
textarea {
  font: inherit;
  margin: 0;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: inherit;
}

h1, h3, h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--primary-font), sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.2;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

