@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25vh;
}

.header-container {
  max-width: 1020;
  display: inline-block;
}

.main-header {
   margin: 0 auto;
   padding: .8rem 1.0875rem;
}

.header-link {
  text-decoration: none;
  color: rgb(23, 22, 36);
}

.header-link h1 {
  font-size: 3rem;
  color: rgb(54, 53, 60);
}

/* .header-grey {
  display: inline-block;
  font-size: 3rem;
  color: grey;
} */

.header-link:hover {
  text-decoration: underline;
}

.modal-button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
  border: none;
  margin: 0;
  padding: 0;
  color: rgb(26, 26, 26);
  background: none;
  cursor: pointer;
  display: inline-block;
  /* position: relative; */
}

.modal-button:hover {
  text-decoration: underline;
}

.modal-header {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  display: inline-block;
  color: grey;
  cursor: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  position: fixed;
  left: 50%;
  top: 45%;
  background: white repeat scroll;
  width: 100%;
  height: 80%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  border-style: outset;
  overflow: scroll;
  padding: 1em;
  overscroll-behavior: none;
}

.close-modal {
  color: rgb(70, 66, 66);
  background: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  /* left: 90%; */
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.about div {
  margin: .5rem;
  font-size: 1rem;
}


.loading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 550px) {
  .modal-main {
    width: 550px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
