.icon-container {
  position: absolute;
  bottom: .5rem;
  left: 42vw;
  right: 42vw;
}

.icon {
  margin-right: 10px;
}

.nav-icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.shiftpitch {
  top: .5rem;
}

.xibis {
  top: 2rem;
}
