// @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf')
}

.none-icon {
  display: none;
}

.label {
  position: absolute;
  top: 30vh;
  color: rgb(111, 118, 126);
  font-family: 'Questrial', sans-serif;
}

.label .none {
  color: white;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 200px;
}

.resume-label {
  display: none;
  position: relative;
  bottom: 20px;
  left: 10px;
}

.show {
  display: block;
}

img {
  margin: 0px;
}

h4 {
  margin: 0px;
  font-family: 'Questrial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-icon {
  height: 200px;
  width: 200px;
}

.icon-container {
  display: flex;
}

.icon {
  margin: .5em;
  color: rgb(65, 65, 65);
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in;
}

.icon:hover {
  transform: scale(1.1);
}

.nav-icon-container {
  transform: rotate(360deg);
  transition: transform infinite ease;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: 10vh;
}

.nav-icon-container div {
  margin: .25rem;
  // background-color: rgb(235, 235, 235);
  // width: 80%;
  // border-radius: 8px;
}

.shiftpitch {
  top: 1.2rem;
  // animation: spin 2s infinite linear;
}

.northwestern {
  top: .75rem;
}

@keyframes fadein {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes spin {
  from   { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  .nav-icon-container {
    flex-direction: column;
    top: 0.5rem;
  }

  .icon-container {
    flex-direction: column;
    left: 3%;
    top: 25vh;
  }

  .icon {
    margin: .5em;
  }

  .label {
    display: none;
  }

  .northwestern {
    top: 0px;
  }

  .shiftpitch {
    top: .5rem;
  }

  .xibis {
    top: 1.25rem;
  }
}

@media screen and (min-width: 580px) and (max-width: 780px) {
  .icon-container {
    left: 0vw;
  }
}

@media screen and (min-width: 1100px) {
  .nav-icon-container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

