.icon-container {
  bottom: .5rem;
  // align-self: center;
  // display: flex;
  // justify-content: center;
  // animation: fadeIn 3s ease;
  transition: transform .5s ease;
}

.icon {
  margin: .5em;
}

.icon:hover {
  transform: scale(1.1);
}

.soundcloud {
  top: 2rem;
}

.soundcloud:hover {
  transform: scale(1.1);
}

.nav-icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  width: 100%;
}

.nav-icon-container div {
  margin: 1.25rem;
}

.shiftpitch {
  top: .5rem;
}

.shiftpitch:hover {
  transform: scale(1.1);
  animation: spin linear infinite;
}

.xibis {
  top: 2rem;
}

.xibis:hover {
  transform: scale(1.1);
}

.shadow-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow {
  z-index: -1;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  top: 1rem;
  width: 160px;
  height: 30px;
}

@keyframes spin {
  from   { rotate: 0deg; }
  to { rotate: 360deg; }
}

@media screen and (max-width: 740px) {
  .nav-icon-container {
    flex-direction: column;
  }

  .icon-container {
    flex-direction: column;
    left: 3%;
    top: 25vh;
  }

  .icon {
    margin: .5em;
  }
}

@media screen and (min-width: 580) and (max-width: 780px) {
  .icon-container {
    left: 0vw;
  }
}

@media screen and (min-width: 1100) {
  .nav-icon-container {
    margin-left: auto;
    margin-right: auto;
  }
}

