@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.burger {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
}

.navbar {
  padding: 1.45rem 1.0875rem;
  position: fixed;
  right: 0px;
  top: 5rem;
  /* background: rgb(138, 150, 184); */
  opacity: 0.5;
  height: 100%;
  z-index: 6;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: rgb(63, 64, 65);
  text-decoration: none;
  /* margin: .5rem 1rem; */
}

.show {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
