@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.navbar {
  /* margin: 0 auto; */
  padding: 1.45rem 1.0875rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: grey;
  text-decoration: none;
  margin: .5rem 1rem 2rem 1rem;
}
